div.admin-container {
	display: flex;
	justify-content: space-between;
	border: 1px solid rgb(238, 238, 238);
	margin: 0px 100px;
	font-family: "NanumBarunGothic";
}

.admin-side-bar ul {
	list-style-type: none;
	padding: 10px 30px 10px 15px;
}

.admin-side-bar li {
	padding: 3px;
	margin: 30px 0px;
}

.admin-side-bar a {
	text-decoration: none;
	color: black;
}

.admin-side-bar a:hover {
	color: rgb(0, 173, 181);
}

aside.admin-side-bar {
	margin: 20px 5px;
	border: 1px solid rgb(57, 62, 70);
	width: 233px;
}

div.admin-page-box {
	display: block;
	width: 100%;
	padding: 20px;
}

h1.admin-title {
	font-weight: bold;
	font-size: 45px;
	margin-bottom: 20px;
	text-align: center;
}

.admin-table {
	width: 100%;
}

.admin-table th {
	padding: 7px;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	border-left: none;
	border-right: none;
	font-weight: bold;
}

.admin-table td {
	padding: 7px;
	border-top: 2px solid rgb(238, 238, 238);
	border-bottom: 2px solid rgb(238, 238, 238);
	border-left: none;
	border-right: none;
}

.admin-tbody tr:hover {
	color: rgb(0, 173, 181);
}

.page-admin-table {
	width: 100%;
	table-layout: fixed;
}

.page-admin-table th {
	padding: 7px;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	border-left: none;
	border-right: none;
	font-weight: bold;
}

.page-admin-table td {
	padding: 7px;
	border-top: 2px solid rgb(238, 238, 238);
	border-bottom: 2px solid rgb(238, 238, 238);
	border-left: none;
	border-right: none;
}

.page-admin-tbody a {
	text-decoration: none;
	color: black;
	display: block;
}

.page-admin-tbody a:hover {
	color: rgb(0, 173, 181);
}

.col no-wrap {
    white-space: nowrap; /* 줄바꿈 방지 */
}


.admin-btn{
    background-color: rgb(0, 173, 173); 
    color: white; 
    border: none;
    padding: 8px 15px; 
    cursor: pointer;
    font-size: 15px; 
    border-radius: 5px;
}

.suggest-admin-table a{
	text-decoration: none;
	color: black;
}

.suggest-admin-table a:hover{
	color: rgb(0, 173, 181);
}

