img.logo {
	width: 100px;
}

img.background {
	width: 100%;
}

img.icon {
	width: 50%;
}

img.mypage {
	width: 40px;
}

div.scroll_icon {
	display: flex;
	justify-content: center;
}

.swiper {
	width: 70%;
}
.swiper-parent {
	width: 80%;
	position:relative;
	margin: 0 auto;
}
