img.logo {
	width: 20%;
}

img.background {
	width: 100%;
}

img.icon {
	width: 10%;
}

div.title {
	display: flex;
	justify-content: space-between;
}

.title img {
	height: 100px;
}

div.container {
	display: flex;
	justify-content: space-between;
	background-color: lightblue;
	border: 1px solid black;
}

div.indexList {
	width: 45%;
	height: 100px;
	border: 1px solid black;
}

div.infoContent {
	width: 45%;
	border: 1px solid black;
}

.infoContent img {
	width: 100%;
}