div.title {
	display: flex;
	justify-content: space-between;
	height: 50%;
}

img.like {
	height: 50px;
	margin-top: 1%;
}

div.container {
	border: 1px solid black;
	border-radius: 15px;
}


div.info_indexList {
	width: 20%;
}

ol.info_index {
	border: 1px solid black;
	border-radius: 15px;
	padding-left: 20%;
}

ol.info_index a {
	text-decoration: none;
	color: black;
}

div.info_context {
	width: 80%;
}

div.info_context_intro {
	display: flex;
	justify-content: center;
	
}

div.info_workplace_image {
	width: 50%;
}

.info_workplace_image img {
	width: 100%;
}

div.info_workplace_table {
	text-align: center;
	width: 50%;
}

div.info_context_main {
	display: flex;
}

ol.info_context_main_index li {
	font-size: xx-large;
	font-weight: bold;
}

ol.info_context_main_index button {
	font-size: xx-large;
	font-weight: bold;
}